# compiled output
/dist
/node_modules
/build

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# coverage
/coverage
/.nyc_output

# IDE
/.idea
/.vscode
*.swp

# env
.env

# uploaded files (local filesystem storage)
/uploads
/storage

# OS
.DS_Store
